.DS_Store

vim/.netrwhist
vim/swaps
vim/undo
vim/backups
vim/.VimballRecord
vim/plugged

emacs.d/eshell
emacs.d/elpa
emacs.d/url
emacs.d/ido.last
emacs.d/.cask
emacs.d/smex-items
emacs.d/custom.el
.org-id-locations
*~
*#
