.DS_Store

vim/.netrwhist
vim/swaps
vim/undo
vim/backups
vim/.VimballRecord
vim/plugged

dotfiles/emacs.d/config
dotfiles/emacs.d/eshell
dotfiles/emacs.d/elpa
dotfiles/emacs.d/var
dotfiles/emacs.d/recentf
dotfiles/emacs.d/projectile-bookmarks.eld
dotfiles/emacs.d/ido.last
dotfiles/emacs.d/.cask
dotfiles/emacs.d/smex-items
dotfiles/emacs.d/custom.el
.org-id-locations
*~
*#
